<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta charset="UTF-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="google" content="notranslate"/>
        <meta data-template="config:app-meta"/>
        <title data-template="config:app-title">App Title</title>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <script type="text/javascript">
        var Ext = Ext || {};
        </script>
        <!-- The line below must be kept intact for Sencha Cmd to build your application -->
        <script data-template="sencha:microloader" data-template-environment="production"/>
    </head>
    <body id="content"/>
</html>